<%= form_for(beritum) do |f| %>
  <% if beritum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(beritum.errors.count, "error") %> prohibited this beritum from being saved:</h2>

      <ul>
      <% beritum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :judul %>
    <%= f.text_field :judul %>
  </div>

  <div class="field">
    <%= f.label :isi %>
    <%= f.text_field :isi %>
  </div>

  <div class="field">
    <%= f.label :kategori %>
    <%= f.text_field :kategori %>
  </div>



  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
