<p id="notice"><%= notice %></p>

<h1>Berita</h1>

<table class="tabel table-hover table-striped">
  <thead>
    <tr>
      <th>Judul</th>
      <th>Isi</th>
      <th>Kategori</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @berita.each do |beritum| %>
      <tr>
        <td><%= beritum.judul %></td>
        <td><%= beritum.isi %></td>
        <td><%= beritum.kategori %></td>
        <td><%= beritum.slug %></td>
        <td><%= link_to 'Show', beritum %></td>
        <td><%= link_to 'Edit', edit_beritum_path(beritum) %></td>
        <td><%= link_to 'Destroy', beritum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Beritum', new_beritum_path %>
