<p id="notice"><%= notice %></p>

<p>
  <strong>Judul:</strong>
  <%= @beritum.judul %>
</p>

<p>
  <strong>Isi:</strong>
  <%= @beritum.isi %>
</p>

<p>
  <strong>Kategori:</strong>
  <%= @beritum.kategori %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @beritum.slug %>
</p>

<%= link_to 'Edit', edit_beritum_path(@beritum) %> |
<%= link_to 'Back', berita_path %>
